Repository chanwukim/detalk-api, pull requests merged in 2025-01, with the labels that each got.

#51 presigned 코드 정리
  src/main/java/net/detalk/api/controller/v1/FileController.java
  src/main/java/net/detalk/api/controller/v1/request/PreSignedUrlRequest.java
  src/main/java/net/detalk/api/domain/PreSignedData.java
  src/main/java/net/detalk/api/service/FileService.java
Labels: API:update

#55 회원 서비스레이어 단위 테스트
  src/test/java/net/detalk/api/mock/FakeTimeHolder.java
  src/test/java/net/detalk/api/mock/FakeUUIDGenerator.java
  src/test/java/net/detalk/api/service/MemberServiceTest.java
Labels: TEST:unit

#57 제품-게시글 단위 테스트
  src/main/java/net/detalk/api/controller/v1/response/GetProductPostResponse.java
  src/main/java/net/detalk/api/service/PricingPlanService.java
  src/main/java/net/detalk/api/service/ProductPostService.java
  src/test/java/net/detalk/api/service/ProductPostServiceTest.java
Labels: TEST:unit

#64 예외처리 세분화
  src/main/java/net/detalk/api/controller/v1/AuthController.java
  src/main/java/net/detalk/api/domain/exception/DuplicateRecommendationException.java
  src/main/java/net/detalk/api/domain/exception/InvalidMemberStatusException.java
  src/main/java/net/detalk/api/domain/exception/InvalidPageSizeException.java
  src/main/java/net/detalk/api/domain/exception/MemberNeedSignUpException.java
  src/main/java/net/detalk/api/domain/exception/MemberNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/MemberProfileNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/PricingPlanNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/ProductPostForbiddenException.java
  src/main/java/net/detalk/api/domain/exception/ProductPostNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/ProductPostSnapshotUpdateException.java
  src/main/java/net/detalk/api/domain/exception/ProviderUnsupportedException.java
  src/main/java/net/detalk/api/domain/exception/RefreshTokenNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/RefreshTokenUnauthorizedException.java
  src/main/java/net/detalk/api/domain/exception/UserHandleDuplicatedException.java
  src/main/java/net/detalk/api/service/AuthService.java
  src/main/java/net/detalk/api/service/MemberService.java
  src/main/java/net/detalk/api/service/PricingPlanService.java
  src/main/java/net/detalk/api/service/ProductPostService.java
  src/main/java/net/detalk/api/service/RecommendService.java
  src/main/java/net/detalk/api/support/WebExceptionHandler.java
  src/main/java/net/detalk/api/support/error/ApiException.java
  src/main/java/net/detalk/api/support/error/ErrorMessage.java
  src/test/java/net/detalk/api/service/MemberServiceTest.java
  src/test/java/net/detalk/api/service/ProductPostServiceTest.java
Labels: API:update, P4

#66 예외 메세지 민감한 정보 제거
  src/main/java/net/detalk/api/domain/exception/InvalidPageSizeException.java
  src/main/java/net/detalk/api/domain/exception/MemberNotFoundException.java
  src/main/java/net/detalk/api/domain/exception/ProductPostForbiddenException.java
  src/main/java/net/detalk/api/domain/exception/RefreshTokenNotFoundException.java
  src/main/java/net/detalk/api/service/AuthService.java
  src/main/java/net/detalk/api/service/MemberService.java
  src/main/java/net/detalk/api/service/ProductPostService.java
  src/main/java/net/detalk/api/support/error/ApiException.java
  src/main/java/net/detalk/api/support/error/JsonConversionException.java
  src/test/java/net/detalk/api/service/ProductPostServiceTest.java
Labels: API:update

#68 가격 정책 대문자 -> 파스칼 케이스 변경
  src/main/java/net/detalk/api/service/DetalkInitializer.java
  src/main/java/net/detalk/api/service/ProductPostService.java
Labels: API:update

#74 회원 프로필 업데이트
  src/main/java/net/detalk/api/controller/v1/MemberController.java
  src/main/java/net/detalk/api/controller/v1/request/UpdateProfileRequest.java
  src/main/java/net/detalk/api/domain/MemberProfile.java
  src/main/java/net/detalk/api/domain/exception/MemberProfileNotFoundException.java
  src/main/java/net/detalk/api/repository/MemberProfileRepository.java
  src/main/java/net/detalk/api/repository/MemberProfileRepositoryImpl.java
  src/main/java/net/detalk/api/service/MemberService.java
  src/test/java/net/detalk/api/service/MemberServiceTest.java
Labels: API:new

#75 userhandle로 회원 프로필 조회 API 구현
  src/main/java/net/detalk/api/controller/v1/MemberController.java
  src/main/java/net/detalk/api/controller/v1/response/GetMemberPublicProfileResponse.java
  src/main/java/net/detalk/api/service/MemberService.java
  src/main/java/net/detalk/api/support/security/SecurityConfig.java
Labels: API:new

#78 가격 정책 캐싱
  src/main/java/net/detalk/api/repository/PricingPlanRepository.java
  src/main/java/net/detalk/api/service/DetalkInitializer.java
  src/main/java/net/detalk/api/service/PricingPlanCache.java
  src/main/java/net/detalk/api/service/PricingPlanService.java
  src/main/resources/db/migration/V0.0.5__Insert_Init_Pricing_Plans.sql
Labels: PERFORMANCE
